@using BookStore.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    string activePage = System.IO.Path.GetFileNameWithoutExtension(ViewContext.ActionDescriptor.DisplayName);
    Func<string, string, string> ActiveClass = (string activePage, string page) =>
    {
        return (activePage == page) ? "active" : "";
    };
}
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar" style="background-color: #f8f9fc">

    <hr class="sidebar-divider my-0">


    <div class="sidebar-heading mt-2">
        Account Management
    </div>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Personal account</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Function</h6>
                <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
                <a class="collapse-item" asp-controller="Orders" asp-area="" asp-action="Index">Ordered</a>
                <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/Email">Email</a>
                <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Password</a>
                @if (hasExternalLogins)
                {
                    <a class="collapse-item" asp-page="/Account/Manage/ExternalLogins">External logins</a>
                }
                <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a>
                <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/PersonalData">Personal data</a>
            </div>
        </div>
    </li>
 
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRole" aria-expanded="true" aria-controls="collapseRole">
                <i class="fas fa-user-cog"></i>
                <span>Role</span>
            </a>
            <div id="collapseRole" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item"  asp-controller="RoleManager" asp-area="" asp-action="Index">Roles</a>
                    <a class="collapse-item " asp-controller="UserRoles" asp-area="" asp-action="Index">Assign roles</a>
                </div>
            </div>
        </li>


        <hr class="sidebar-divider d-none d-md-block">

     
        <div class="sidebar-heading mt-2">
            Product Management
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePosts" aria-expanded="true" aria-controls="collapsePosts">
            <i class="fas fa-newspaper"></i>
            <span>Product</span>
        </a>
        <div id="collapsePosts" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" asp-controller="Categories" asp-area=""asp-action="Index"><i class="fas fa-list"></i> Category</a>
                <a class="collapse-item" asp-controller="Books" asp-area="" asp-action="Index"><i class="fas fa-list"></i> Product</a>
                

            </div>
        </div>
    </li>

    }


    <hr class="sidebar-divider d-none d-md-block">


    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

