@model IEnumerable<BookStore.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>ALL Category</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark w-25">Edit</a>
                <br>
                <br>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark w-25">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
